{% extends 'layouts/base.html.twig' %}

{% block content %}

    <div>
        <form action="?users/resetRequestSent" method="post">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" autofocus required>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

{% endblock %}